body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-login {
    width: 40rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: fit-content;
    padding: 2rem;
    border-radius: 8px;
}

.logo {
    width: 100%;
}

.form-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.title {
    margin-top: 2rem;
    font-size: 3rem;
}

.login-input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.login-input label {
    font-size: 1.7rem;
}

.login-input input {
    padding: 1.3rem;
    border-radius: 8px;
    border: none;
    background-color: #F0F0F0;
}

.login-input input:focus {
    outline: none;
}

.button-submit {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.5rem;
    background-color: #1f75eb;
    color: #fff;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: 0.25s;
}

.button-submit:hover {
    background-color: #fff;
    color: #1f75eb;
    border: 1px #1f75eb solid;
    font-weight: bold;
}

.forget-password {
    text-decoration: none;
    display: block;
    margin: 1rem 0;
    color: #2162a1;
    font-size: 1.5rem;
}

.termo {
    font-size: 1.5rem;
    margin: 1.5rem 0;
    transition: 0.25s;
}

.forget-password:hover {
    color: #000;
    text-decoration: underline;
}

#erro {
    display: none;
    color: red;
    font-size: 1.8rem;
    margin: 1rem 0;
}